
# Flask libs
Flask==2.3.2
flask-restful==0.3.9
flask-cors==3.0.10
gunicorn==20.1.0
Werkzeug==2.2.3

# Common libs
loguru~=0.5.3
requests~=2.25.1
python-dotenv~=0.15.0
dnspython~=2.1.0
supervisor==4.2.2
jsonschema==4.2.1
pyopenssl==22.0.0

# sql
sqlalchemy>=1.4.17

# mongodb
pymongo==3.11.3
mongoengine == 0.23.1

# security libs
PyJWT==2.4.0
bcrypt==3.2.0

# UrBox libs

git+https://github.com/HKer-MuCoi/python_http_lib.git@0.0.1.1
